@model ToolsToWorkers.Models.Article
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Информация об артикле "@Model.ID"</h1>
<br>
<div class="row">
    <div class="col-md-3">Наименование:</div>
    <div class="col-md-3">@Model.Name</div>
</div>
<div class="row">
    <div class="col-md-3">Вес:</div>
    <div class="col-md-3">@Model.Weight</div>
</div>
<div class="row">
    <div class="col-md-3">Описание:</div>
    <div style="max-width: 40%" class="col-md-3"><label style="border: none;">@Model.Description</label></div>
</div>
<br>
<a typeof="btn btn-success" asp-controller="Articles" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-secondary my-2">Редактировать</a>
