@using ToolsToWorkers.Data.enums
@model ToolsToWorkers.Data.SearchData.ToolSearchData
@{
}

<form method="post" asp-action="Index">
    <a typeof="btn btn-success" asp-controller="Tools" asp-action="Create">Создать новый элемент</a>
    <h1>Инструменты</h1>
    <input asp-for="Value" class="form-control" autocomplete="off" type="search">
    <span asp-validation-for="Value" class="text-danger"></span>
    <span asp-validation-for="Value" class="text-danger"></span>
    <button type="submit" class="btn btn-primary">Поиск</button>
    <br>
    <select asp-for="Field" class="form-control">
        <option value="Название">Название</option>
        <option value="Склад">Склад</option>
    </select>
    <span asp-validation-for="Field" class="text-danger"></span>
    <br>
    <select asp-for="Status" class="form-control">
        <option value="Все">Все</option>
        @for (int i = 0; i < Enum.GetNames(typeof(ToolStatus)).Length; i++)
        {
            <option value="@Enum.ToObject(typeof(ToolStatus), i)">@Enum.ToObject(typeof(ToolStatus), i)</option>
        }
    </select>
    <span asp-validation-for="Status" class="text-danger"></span>
    <br>
    <p1>На данной странице расположен каталог инструментов. Выберите тот, который вам необходим.</p1>
    <br>
    @foreach (var item in Model.Tools)
    {
        <a typeof="btn btn-success" asp-controller="Tools" asp-action="Details" asp-route-id="@item.ID">
            @item.Name
            @item.Status
            @item.Storage
        </a>
        <br>
    }
</form>