@model ToolsToWorkers.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Информация о пользователе "@Model.Login"</h1>
<br>
<div class="row">
    <div class="col-md-3">Фамилия: </div>
    <div class="col-md-3">@Model.Surname</div>
</div>
<div class="row">
    <div class="col-md-3">Имя: </div>
    <div class="col-md-3">@Model.Name</div>
</div>
<div class="row">
    <div class="col-md-3">Отчество: </div>
    <div class="col-md-3">@Model.Patronymic</div>
</div>
<div class="row">
    <div class="col-md-3">Роль в системе: </div>
    <div class="col-md-3">@Model.Role</div>
</div>
<div class="row">
    <div class="col-md-3">Идентификатор: </div>
    <div class="col-md-3">@Model.ID</div>
</div>
<br>
<a typeof="btn btn-success" asp-controller="Users" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-secondary my-2">Редактировать</a>
